body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f8f8f8;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.help-center {
    margin-right: auto;
}

.dropdown {
    position: relative;
}

.dropbtn {
    background-color: rgb(242, 238, 238);
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #faf6f6;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 10px;
    right: 0;
    top: 100%;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: 1px solid #ccc;
    margin-top: 5px;
}

.dropdown-content a:hover {
    background-color: #d0cece;
}

.last-login {
    font-size: 12px;
    color: #666;
    margin-top: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}
